<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
</head>
<body>
  <header>
    <img src="<%= require('./images/banner.jpg') %>" alt="">
    <span class="arrows">>>></span>
    <span class="welcome">PIZZA TIME</span>
  </header>
  <main >
    <div id="content">
        <nav>
            <a href="#content" class="links">Home</a>
            <a href="#content" class="links">Food</a>
            <a href="#content" class="links">Contact</a>
        </nav>
        <div class="information">
          <div  class="tabs">
              <div id="home" class="tab">
                  <h2>Pizza Time Restaurant</h2>
                  
                  <p><img src="<%= require('./images/1.jpg') %>" class="thumbnail">Pizza Time is an American restaurant chain and international franchise which was founded in 1958 in Wichita, Kansas by Dan and Frank Carney. The company is known for its Italian-American cuisine menu, including pizza and pasta, as well as side dishes and desserts. Pizza Hut has 18,431 restaurants worldwide as of December 31, 2018,[4] making it the world's largest pizza chain in terms of locations. It is a subsidiary of Yum! Brands, Inc., one of the world's largest restaurant companies.</p>
              </div>
      
              <div id="food" class="tab">
                    <h2>Wide Range of choices</h2>
                    <div class="box">
                        <p>
                            <img src="<%= require('./images/21.jpg') %>" class="thumbnail">
                            Ultricies integer quis auctor elit sed vulputate mi sit amet. At consectetur lorem donec massa. Pellentesque massa placerat duis ultricies lacus sed turpis tincidunt. Sodales ut eu sem integer vitae justo eget.
                        </p>
                    </div>
                    
                    <div class="box">
                        <p>
                            <img src="<%= require('./images/22.jpg') %>" class="thumbnail">
                            Ultricies integer quis auctor elit sed vulputate mi sit amet. At consectetur lorem donec massa. Pellentesque massa placerat duis ultricies lacus sed turpis tincidunt. Sodales ut eu sem integer vitae justo eget.
                        </p>
                    </div>
                    
              </div>
      
              <div id="contact" class="tab">
                    <h2>Our Contact Info</h2>
                    <ul class="contact-list">
                      <li><strong>Adress:</strong><em>Pizza's Street, Italy</em></li>
                      <li><strong>Email:</strong><em>pizza@pizzaria.it</em></li>
                      <li><strong>Phone:</strong><em>+23 4879646555</em></li>
                    </div>
                    
              </div>
          </div>
          
        </div>
    </div>
  </main>
  <footer>

  </footer>
</body>
</html>